html {
    font-family: sans-serif;
}

body > header {
    background-color: #236ab9;
    height: 60px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

body > header img {
    float: left;
    margin: 0px 20px;
    height:60px;
}

body > header h1 {
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
}

title{
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
}

main h1 {
    font-size: 1.4rem;
    display: inline-block;
    background-color: #236ab9;
    color: white;
    margin: 10px 0px;
    padding: .1em 1em;
    border: 2px solid #2E4A62;
    border-radius: 40px 10px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #236ab9;
}

a:hover, a:active {
    background-color: #236ab9;
    color: #eaf2fb;
}

table {
    border-solid: 1px;
    border-style: groove;
    border-color: black;
}

table tr:nth-child(even) {
    background-color: #eaf2fb;
}

table th {
    background-color: #236ab9;
    color: white;
    padding: 2px 10px;
}

table td {
    padding: 2px 10px;
}

body > footer {
    background-color: #eaf2fb;
    margin: 1rem 0px;
    padding: .2rem 0px;
}
